@import "../../../assets/css/media_query_mixins";
$break-mobile: 600px;
$break-tablet: 601px;
$break-mid-desktop: 869px;

#passwordconfirm {
    color: lightgray;
}

div.input-field {
    margin-bottom: 0;
}

.red-text.text-darken-2 {
    margin: 0;
    position: absolute;

    @media screen and (max-width: $break-mobile) {
        font-size: 0.6rem;
    }
}

.signup-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../../public/dist/assets/images/bballwallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;
    overflow-y: auto;
    height: 100%;

    .input-field > label {
        color: white;
    }

    @include mobile{
        .signup-logo-container {
            position: relative;
            top: 1rem;
            height: 180px;

            .signup-logo {
                max-width: 80%;
            }
        }
    }

    @media screen and (min-width: $break-tablet) {
        .signup-logo-container {
            height: 200px;

            .signup-logo {
                max-width: 71%;
            }
        }
    }

    @media screen and (min-width: $break-mid-desktop){
        .signup-logo-container {
            .signup-logo {
                max-width: 60%;
            }
        }
    }

    .signup-text {
        position: relative;
        top: 1rem;
        font-size: 2rem;
        margin-top: 15px;
        margin-bottom: 0;

        @media screen and (min-width: $break-tablet) {
            font-size: 2.5rem;
        }

        @media screen and (min-width: $break-mid-desktop) {
            top: 0;
        }
    }

    .signup-form {
        position: relative;
        top: 1rem;

        @media screen and (min-width: $break-mid-desktop){
            top: 0rem;
        }

        div.col:nth-child(2) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .signup-button {
        color: white;
        border-radius: 200px;
        background-color: #ef6c00;
    
        &:hover {
            background-color:rgb(52, 54, 78);
            color: white;
        }
    }

    .error-text {
        top: 0;
    }
}